<div>
    <h1>About Anonymous Pen</h1>
    <p>Anonymous pen is a web application that allows you to search for books from the <a
            href="https://openlibrary.org/developers/api">Open Library Api</a> by author or title. A review
        functionality has also been implemented allowing users to write a review and leave an optianl picture of
        themselves. All the reviews a user makes are available to be viewed in the <a href="/Bookshelf">Bookshelf</a>
        page. </p>
</div>