<form method="post" action="/Review">
    <h1>A review on {{title}}</h1>
    <div class="form-group">
        <label for="name" class="form-label">Pen Name:</label>
        <input class="form-text" type="text" name="name" id="name">
    </div>
    <div class="form-group">
    <label for="comment" class="form-label">Comments:</label>
        <input class="form-text" type="text" name="comment" id="comment">
    </div>
    <div class="form-group">
    <label for="rating" class="form-label">Rating:</label>
        <input class="form-range w-25" type="range" id="rating" name="rating" min="0" max="5" value="2" step="1">
    </div>
    <div class="form-group">
        <label for="Review_photo">Upload a photo:</label><br>
        <input type="file" class="form-control-file" id="Review_photo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>