<form action="/examples/form" method="post">
    <h1>{{title}}</h1>
    <!-- Email -->
    <div class="mb-3">
        <label for="sMethod" class="form-label">Search Method</label>
        <select id="sMethod" name="sMethod">
            <option value="Title">Title</option>
            <option value="Author">Author</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>